.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 200px;
    background-color: rgb(253, 251, 251);

    .top{
        display: flex;
        flex-direction: column;
        gap: 30px;

        .top1{
            display: flex;
            align-items: center;
            justify-content: space-between;

            h2{
                font-size: 1.9rem;
                color: #333;
                font-weight: bolder;
            }

            .lang{
                display: flex;
                gap: 20px;
                align-items: center;

                select{
                    border: 1px solid gray;
                    border-radius: 5px;
                    background-color: white;
                    color: black;
                    font-size: 14px;
                    outline: none;
                    scroll-behavior: smooth;
                    padding: 10px 12px;

                    option{
                        background-color: white;
                        padding: 10px;
                    }
                }
            }
        }

        .bottom1{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

            .bottomContent{
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 20px;

                h4{
                    font-size: 18px;
                    font-weight: normal;
                    letter-spacing: .1rem;
                }

                p{
                    color: gray;
                    text-transform: capitalize;
                }

                .links{
                    display: flex;
                    gap: 10px;
                    cursor: pointer;
                }

                img{
                    width: 150px;
                    object-fit: cover;
                }
            }
        }
    }

    .bottom{
        p{
            text-align: start;
            color: gray;
            font-size: 14px;
        }
    }
}